h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Playfair Display', serif;
}

/*
 * http://mystrd.at/modern-clean-css-sticky-footer/
*/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #CCC;
}

/*
 * Navigation
*/

.navbar-brand {
    padding: 0;
    height: 74px;
}

/*.navbar-toggle {
    border-color: #DDD;
}

.navbar-toggle:hover {
    color: #DDD;
}*/

.navbar-default {
    border: 0;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 27px;
        padding-bottom: 27px;
    }
}


/*
 * Display peak list in hike log forms as multiple columns
*/

ul.columns li {
    display: inline-block;
    width: 20%
}

/*
 * Display peaks summitted in a single hike as nicely comma-separated list
*/

.peaklist {
    display: inline;
    padding: 0;
}

.peaklist li {
    display: inline;
}
.peaklist li:not(:last-child):after { 
    content: ","; 
}

.peaklist li:nth-last-child(2):after { 
    content: " and"; 
}

/*
 * Display hikes
*/
.hike-head {
    font-weight: bold;
}

.hike-rating {
    /* perhaps left-align and offset a bit, along with mileage? */
}


/*
 * Accessible star rating widget with pure CSS
 * By Lea Verou
 * http://lea.verou.me/2011/08/accessible-star-rating-widget-with-pure-css/
 * I've made some aesthetic edits
*/

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:100%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}